<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="boot_bookmanage.java.mapper.AdminMapper">-->
<!--    &lt;!&ndash;    public Employee getEmpById(Integer id);-->

<!--     public void insertEmp(Employee employee);&ndash;&gt;-->
<!--    <select id="getAdminByAccoutAndPw" resultType="boot_bookmanage.java.entities.Admin">-->
<!--        SELECT * FROM admin where account=#{account} and password=#{password}-->
<!--    </select>-->

<!--&lt;!&ndash;    <insert id="insertBwText">&ndash;&gt;-->
<!--&lt;!&ndash;        INSERT INTO bwtext(query,user_id,user_name,bw_id,bw_text) VALUES (#{query},#{user_id},#{user_name},#{bw_id},#{bw_text})&ndash;&gt;-->
<!--&lt;!&ndash;    </insert>&ndash;&gt;-->
<!--    <select id="selectAdmins" resultType="boot_bookmanage.java.entities.Admin">-->
<!--        SELECT * FROM admin-->
<!--    </select>-->
<!--</mapper>-->